<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embryo Classification</title>
        {% load static %}
</head>
<body style="background-color:black;">

<h1 style="color:cyan;text-decoration: underline;">AI-Driven Linking Of Embryonic Phenotypes And Signaling Pathways</h1>
<a style="float: right; font-size: 30px;color:lightyellow;" href="/login">Login </a>
<br/>
<br>

<hr>
<div style=" text-align: center;" >

    <img style="height: 550px; width: 75%;" src="{% static 'images/Embryo1.png' %}" alt="First slide" >
</div>
</body>
</html>